{% extends 'base.html' %}

{% block content %}
    <h1>Hola Mundo !!! desde django!!!!!</h1>
    <h3>templates</h3>

    <p>
        {{ myText }}, 
        {{ myNumber }}
    </p>

    <ul>
        {% for myItem in myList %}
            <li>
                {{ forloop.counter }}. {{ myItem }}
                {% if forloop.first %} (Es el primero) {% endif %}
                {% if forloop.last %} (Es el último) {% endif %}
                [Inverso: {{ forloop.revcounter }}]
            </li>
        {% endfor %}
    </ul>
{% endblock %}
