{% extends 'base.html' %}

{% block content %}
    <h1>Hola Mundo !!! desde django!!!!!</h1>
    <h3>templates</h3>

    <p>
        {{ myText }}, 
        {{ myNumber }}
    </p>

    <ul>
        {% for myItem in myList %}
            <li>
                {{ forloop.counter }} - {{ myItem }}
                {% if myItem == 33 %}
                    - Este número es mágico
                {% elif myItem > 50 %}
                    - Este número es mayor que 50
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}