{% extends 'base.html' %}

{% block content %}
    <h1>Hola Mundo !!! desde django!!!!!</h1>
    <h3>templates</h3>

    <p>
        {{ myText|upper|truncatechars:"16" }}, 
        {{ myNumber }}
    </p>

    <p>
        Longitud del texto: {{ myText|length }} <br>
        Fecha actual: {{ myDate|date:"d/m/Y H:i" }} <br>
        Valor por defecto si está vacío: {{ myEmptyValue|default:"Sin valor disponible" }}
    </p>

    <ul>
        {% for myItem in myList %}
            <li>
                {{ forloop.counter }} - {{ myItem|add:2 }}
                {% if myItem == 33 %}
                    - Este número es mágico
                {% elif myItem|divisibleby:2 %}
                    - Este número es par
                {% elif myItem > 50 %}
                    - Este número es mayor que 50
                {% elif myItem > 10 and myItem < 20 %}
                    - Está entre 11 y 19
                {% elif myItem == 0 or myItem == 100 %}
                    - Es 0 o 100
                {% elif myItem not in specialNumbers %}
                    - No está en la lista especial
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
